<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sampleapp.remotecontrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.sampleapp.remotecontrol.Home"
            android:label="Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sampleapp.remotecontrol.Addmod"
            android:label="Add A Module" >
            <intent-filter>
                <action android:name="com.sampleapp.remotecontrol.ADDMOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sampleapp.remotecontrol.Customerize"
            android:label="Customerize" >
            <intent-filter>
                <action android:name="com.sampleapp.remotecontrol.CUSTOMERISE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.sampleapp.remotecontrol.MsterControl"
            android:label="Master Controller" >
            <intent-filter>
                <action android:name="com.sampleapp.remotecontrol.MSTRCONTROL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
